.reviews {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: wheat;
    height: 600px;
    width: 50%;
    margin: 5%;
    border-radius: 2%;
    min-width: 400px;

}

.reviews_already_posted_flex_container {
    border: 2px;
    height: 90%;
}

.reviews_new_review {
    display: flex;
    justify-content: space-between;
}

.reviews_text_area {
    margin-right: 5%;
    width: 80%;
}

.reviews_button_to_post {
    margin-right: 10px;
}

.text_area {
    margin-left: 2%;
    height: 44px;
    width: 100%;
    background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: var(--font-base);
}